<launch>
  <arg name="left_edge" default ="-10.0"/>
  <arg name="right_edge" default ="40.0"/>
  <arg name="upper_edge" default ="-15.0"/>
  <arg name="bottom_edge" default ="40.0"/>
  <arg name="x_diff" default="30.0"/>
  <arg name="y_diff" default="5.0"/>

  joy_node: decrease deadzone for reacting with tiny movements
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev"             value="/dev/input/js0" />
    <param name="deadzone"        value="0.05" />
    <param name="autorepeat_rate" value="30" />
  </node>

  <!-- Or you can use here after merging this PR: https://github.com/ros-teleop/teleop_twist_joy/pull/47 -->
  <!-- <include file="$(find teleop_twist_joy)/launch/teleop.launch"> -->
  <!--   <arg name="joy_dev" value="/dev/input/js0" /> -->
  <!--   <arg name="joy_deadzone" value="0.05"/> -->
  <!--   <arg name="joy_autorepeat_rate" value="30"/> -->
  <!-- </include> -->

  <node pkg="eye_display" type="joy_eye_status.py" name="joy_eye_status" output="screen">
    <param name="left_edge" value="$(arg left_edge)" />
    <param name="right_edge" value="$(arg right_edge)" />
    <param name="upper_edge" value="$(arg upper_edge)" />
    <param name="bottom_edge" value="$(arg bottom_edge)" />
    <param name="x_diff" value="$(arg x_diff)" />
    <param name="y_diff" value="$(arg y_diff)" />
  </node>

</launch>
